.indigo__weare {
  width: 100vw;
  height: 40vh;
}
.indigo__squre {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.indigo__weare--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.indigo__weare--info > span {
  margin-right: 50%;
  font-size: 50px;
}
.indigo__weare--info > p {
  border-left: 1px solid grey;
  padding: 10px;
  line-height: 30px;
}
.indigo__weare--link {
  display: flex;
  gap: 50px;
}
.indigo__weare--link > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.indigo__weare--link > div > i {
  font-size: 40px;
}
.indigo__workline {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}
.indigo__workline > span {
  font-size: 50px;
  margin-bottom: 50px;
}
.indigo__worklink {
  width: 100vw;
  height: 100vh;
  border-bottom: 1px solid black;
  padding-bottom: 100px;
}
.blurbox {
  height: 100%;
  position: relative;
  object-fit: cover;
}
.indigo__worklink--line {
  height: 50%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  justify-content: center;
}
.indigo__worklink--line > img {
  width: 20%;
  object-fit: cover;
  position: relative;
  transition: all 1s;
}
.indigo__worklink--line > img:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
.blur {
  opacity: 0;
}
.sns {
  width: 100vw;
}
.sns__title {
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 100px;
  padding-top: 30px;
}
.sns__container {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  height: auto;
  display: flex;
}
.sns__container > a {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 30px;
  padding: 30px;
}
.sns__container > a > img {
  width: 300px;
  height: 400px;
}
